@import url('https://fonts.google.com/specimen/Kumbh+Sans');

$font-stack: Kumbh Sans, Arial, Ubuntu, sans-serif;
$font-size: 12px;
$color-red: hsl(14, 88%, 65%);
$color-blue-title: hsl(238, 29%, 16%);
$color-dark-blue: hsl(237, 12%, 33%);
$color-gray-blue: hsl(240, 6%, 50%);
$color-grey-divider: hsl(240, 5%, 91%);
$body-width: 1440px;
$body-width-mobile: 375px;